.history {
    position: relative;
    top: 130px;
    margin-bottom: 150px;

    .title {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: gray;
    }

    .about {

        p {
            font-family: Helvetica, Arial, sans-serif;
            color: gray;
        }

        .title {
            font-weight: 600;
            font-size: 30px;
        }

        .content {
            transition: 0.5s;
        }

        .content:hover {
            color: black;
        }
    }

    .item {
        position: relative;
        margin-left: 20px;
        padding: 20px;

        .spin {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: gray;
            color: white;
            transform: rotate(45deg);
            transition: 1s;
            padding-top: 13px;
            z-index: 1;

            .year {
                position: absolute;
            }

            p {
                text-align: center;

                i {
                    color: white;
                    font-size: 25px;
                    opacity: 0;
                    transition: 1s;
                }
            }
        }

        .spin:hover {
            transform: rotate(495deg);
            background-color: white;
            border: 1px solid gray;

            p {
                i {
                    opacity: 1;
                    color: gray;
                }
            }
        }

        .year {
            position: absolute;
            top: 23.1px;
            left: 100px;
            color: gray;
            font-family: Helvetica, Arial, sans-serif;
        }

        .content {
            width: 90%;
            position: relative;
            border: 1px solid gray;
            top: -24px;
            left: 25px;
            transition: 1s;
            height: 0;
            padding-left: 35px;

            p {
                font-family: Helvetica, Arial, sans-serif;
                opacity: 0;
                transition: 1s;
                color: gray;
            }
        }

        .content:hover {
            height: 200px;

            p {
                opacity: 1;
            }
        }

        .spin:hover~.content {
            height: 200px;

            p {
                opacity: 1;
            }
        }
    }

    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-30%);
        transition: all 1s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    @media screen and (max-width: 1028px) {

        .item {
            padding-left: 0;

            .content:hover {
                height: 420px;

                p {
                    opacity: 1;
                }
            }

            .spin:hover~.content {
                height: 420px;

                p {
                    opacity: 1;
                }
            }
        }
    }
}